/* Enivar registro */

/* Mark input boxes that gets an error on validation: */
#regForm .invalid {
    background-color: #ff6666 !important;
    color: white !important;
}

#regForm .finish {
    background-color: #4CAF50 !important;
    color: white;
}

.tab {
    display: none;
}

.enviar-registro-page  {
    background-color: #2D2F3C;
}

/* Header */
.enviar-registro-page .header {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.enviar-registro-page .header .btn-back {
    font-size: 30px;
    color: #ffffff;
}

.enviar-registro-page .header .page-title {
    color: #ffffff;
    margin-left: 35px;
    margin-bottom: 0;
    align-self: center;
}

/* Formulário */
.enviar-registro-page form .text-field {
    display: flex;
    flex-direction: column;
}

.enviar-registro-page form .label-field {
    font-size: 20px;
    color: #ffffff;
}

.enviar-registro-page form .text-field .readonly-input {
    color: #bdbdbd;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    background: rgba(183, 183, 183, 0.15);
    border-radius: 4px;
    border: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.enviar-registro-page form .text-field .form-control {
    background: rgba(183, 183, 183, 0.15);
    border-radius: 4px;
    border: 0;
    color: #7d7d7d;
}

.enviar-registro-page form #fonte-link {
    display: none;
}

.enviar-registro-page form .textarea-field .form-control {
    min-height: 90px;
}

.enviar-registro-page form .textarea-field .form-control:focus {
    color: white;
}

.enviar-registro-page form .btn-confirm {
    background-color: rgba(172, 172, 172, 0.4);
    color: #ffffff;
    border: 0;
    font-size: 30px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50em !important;
}

.enviar-registro-page form .format-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.enviar-registro-page form .tab2 .format-field > .input-group {
    max-width: 100%;
    min-height: 150px;
    background: rgba(13, 12, 12, 0.3);
    border-radius: 12px;
    border: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enviar-registro-page form .format-field .btn-icon {
    background: rgba(13, 12, 12, 0.3);
    border: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
}

.enviar-registro-page form .format-field .btn-icon .icon {
    margin-bottom: 10px;
}
.enviar-registro-page form .format-field .btn-icon .label-field {
    margin-bottom: 0;
}

.enviar-registro-page .tema-form .btn-send-registro {
    display: flex;
    justify-content: flex-end;
}

.enviar-registro-page .tema-form .btn-send-registro #prevBtn {
    margin: 0 30px !important;
}

.enviar-registro-page .tema-form .btn-send-registro button {
    max-width: 60px;
    line-height: 1;
}