/* Página de Login/Cadastro */

/* Header */
.login-page .header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url('../img/back-login.png') center / 100vw no-repeat;
}

.login-page .header img {
    margin-bottom: 70px;
}

.login-page .header .nav {
    padding: 0;
}

.login-page .header .nav li {
    min-width: 50vw;
}

.login-page .header .nav li .nav-item {
    padding: 20px;
    font-weight: 600;
    color: rgba(50, 54, 67, 0.5);
}

.login-page .header .nav li.active .nav-item {
    background-color: #ffffff;
    pointer-events: none;
}

/* Wrapper */
.login-page .wrapper {
    width: 100vw;
}

.login-page .wrapper .group-field {
    margin: 50px 20px 0;
}

.login-page .wrapper .group-field .btn-orange {
    margin: 25px;
    max-width: -webkit-fill-available;
}

.login-page .wrapper .group-field .field-grey {
    background-color: #EAEAEA;
    border-radius: 4px;
    letter-spacing: 0.1em;
    color: #070707;
    border: 0;
    padding: 15px;
    min-width: 100%;
    margin-top: 10px;
}

.login-page .wrapper .group-field .login-tab {
    letter-spacing: 0.1em;
    color: #000000;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

#carousel-inner {
    position: relative;
}

#slide-login {
    transition: all .5s ease;
}

#slide-login.active {
    position: absolute;
    transform: translateX(-100%);
}

#slide-cadastro {
    transition: all .5s ease;
}

#slide-cadastro.active {
    position: absolute;
    transform: translateX(100%);
}