/* Página Turma */

/* Top bar */
.turma-page .page-title {
    margin: 0 auto;
    align-self: center;
}

/* Tabs nav */
.turma-page .nav-tabs {
    border-bottom: 1px solid rgba(225, 227, 232, 0.6);
    margin: 90px 30px 0;
}

.turma-page .nav-tabs .slide-tab {
    width: 50%;
}

.turma-page .nav-tabs .slide-tab.active {
    border-bottom: 3px solid #E83F3C;
}

.turma-page .nav-tabs .slide-tab.active .nav-item {
    font-weight: 700;
    color: #E83F3C;
}

.turma-page .nav-tabs .nav-item {
    font-size: 16px;
    color: #C5CCD6;
}

.turma-page .nav-tabs .nav-item:first-of-type {
    text-align: left;
}

.turma-page .nav-tabs .nav-item:not(:first-of-type) {
    text-align: right;
}

/* Wrapper */
.turma-page .wrapper {
    margin-top: 35px;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

/* Todos os alunos */
.turma-page .alunos-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.turma-page .alunos-list .list-group-item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 15px;
}

.turma-page .alunos-list .list-group-item .config-aluno {
    position: absolute;
    top: 5px;
    left: 10px;
}

.turma-page .alunos-list .list-group-item .default-photo {
    align-self: center;
    max-height: 70px;
    min-width: 70px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.turma-page .alunos-list .list-group-item .default-photo .icon {
    max-width: 70px;
}

.turma-page .alunos-list .list-group-item .aluno-name {
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #444444;
    margin-bottom: 15px;
}

.turma-page .alunos-list .list-group-item .turma-name {
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.08em;
    color: rgba(0, 0, 0, 0.5);
}

.turma-page .alunos-list .list-group-item .turma-school {
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.08em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

/* Toggle Turma Links */
.turma-page .alunos-list .list-group-item .aluno-link {
    transform: translateX(-130%);
    position: absolute;
    transition: all .5s ease;
    background-color: #ffffff;
    width: 80%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 85%;
    padding: 0;
    justify-content: space-evenly;
    list-style-type: none;
    z-index: -1;

    position: absolute;
    transition: all .5s ease;
    background-color: #ffffff;
    width: 80%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 85%;
    padding: 0;
    justify-content: space-evenly;
    list-style-type: none;
    /* margin-left: 4px; */
    z-index: -1;
}

.turma-page .alunos-list .list-group-item .aluno-link .action-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turma-page .alunos-list .list-group-item .aluno-link .icon {
    width: 35px;
}

.turma-page .alunos-list .list-group-item .aluno-link .action-link a {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.aluno-link.toggle-left {
    z-index: 1 !important;
    transform: translateX(0) !important;
}

/* Todos os temas */
.turma-page .temas-list .config-tema {
    display: grid;
    grid-template-columns: auto 60px 4fr;
    grid-gap: 5px 10px;
}

.turma-page .temas-list .config-tema:hover {
    text-decoration: none;
}

.turma-page .temas-list .list-group-item .config-icon {
    align-self: center;
    grid-row: 1 / span 2;
}

.turma-page .temas-list .list-group-item .config-icon .icon {
    min-width: 25px;
}

.turma-page .temas-list .list-group-item .perfil.btn-circle {
    max-height: 60px;
    min-width: 60px;
    grid-row: 1 / span 2;
    grid-column: 2;
    position: relative;
    align-self: center;
    height: 100%;
}

.turma-page .temas-list .list-group-item .perfil.btn-circle .icon {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50em;
    position: absolute;
    left: 0;
    top: 0;
}

.turma-page .temas-list .list-group-item .tema-title {
    font-weight: 600 !important;
    font-size: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    margin-bottom: 0;
    color: #000000;
}

.turma-page .temas-list .list-group-item .tema-desc {
    grid-column: 3;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

/* Tabs */
#slide-alunos {
    transition: all .5s ease;
}

#slide-alunos.active {
    position: absolute;
    transform: translateX(-100%);
}

#slide-temas {
    transition: all .5s ease;
}

#slide-temas.active {
    position: absolute;
    transform: translateX(100%);
}