/* Página de Cadastro */

.signin-page {
    background-color: #2D2F3C;
}

/* Header */
.signin-page .header {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.signin-page .header .btn-back {
    font-size: 30px;
    color: #ffffff;
}

.signin-page .header .page-title {
    color: #ffffff;
    margin-left: 70px;
}

/* Formulário */
.signin-page form .input-group {
    margin: 20px 0;
}

.signin-page form .input-group:first-of-type {
    justify-content: center;
    margin: 45px 0px !important;
}

.signin-page form .input-group .custom-file {
    position: relative;
    max-width: 45px;
    min-height: 45px;
    padding: 50px;
}

.signin-page form .input-group .icon {
    position: absolute;
    right: 0;
}

.signin-page form .input-group .custom-file-input {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.signin-page form .form-control {
    background: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

.signin-page form .custom-select {
    background: transparent;
    margin-right: 10px;
    max-width: fit-content;
    position: relative;
}

.signin-page form .custom-select:after {
    /* content: '▼';
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none; */
}