* {
    font-family: Raleway;
}

/* Typography */
@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-black.woff);
    font-weight: 900;
	font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-bold.woff);
    font-weight: 700;
	font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-regular.woff);
    font-weight: 400;
	font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-light.woff);
    font-weight: 100;
	font-display: swap;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 400 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.page-title {
    font-size: 26px;
}

input.form-control[type=text],
textarea.form-control[type=textarea] {
    color: #ffffff !important;
}

/* Components */
.btn-circle {
    border-radius: 50em;
}

.btn-orange {
    background-color: #E83F3C;
    border-radius: 5px;
    color: white;
    border: 0;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.default-photo {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50em;
    background-color:#606060;
}

.wrapper {
    margin-bottom: 65px;
}

.perfil.btn-circle {
    max-height: 50px;
    width: 50px;
    border-radius: 50em;
    background-color:#606060;
    text-align: center;
    padding: 10px;
}

.perfil.btn-circle .icon {
    max-height: 30px;
}

/* Top menu */
.top-bar {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    transition: top 0.2s ease-in-out;
    padding-left: 15px !important;
}

.top-bar .page-link {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50em;
    background-color:#606060;
    margin: 0 auto;
}

.top-bar .page-link .btn-circle {
    padding: 0;
}

.top-bar .page-link .btn-circle .icon {
    max-height: 30px;
}

.nav-up {
    top: -70px;
}

/* Bottom menu */
.menu-bar {
    position: fixed;
    top: calc(100% - 60px);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.35);
    left: 0;
    min-width: 100vw;
    justify-content: space-between;
    background: #ffffff;
}

.menu-bar .page-link {
    border: 0;
}

.menu-bar .page-link .nav-link {
    padding: 0;
}

.menu-bar .page-link .nav-link * {
    min-width: 1em;
    min-height: 1.5em;
    color: #000000;
    background-color: #000000;
    -webkit-mask-repeat: no-repeat;    
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.menu-bar .add-post {
    background-color: #E83F3C;
    border-radius: 50em;
}

.menu-bar .add-post:hover {
    background-color: #B42F2D;
}

.menu-bar .btn-circle {
    color: #ffffff;
    font-size: 40px;
    line-height: 1;
    padding: 0 10px !important;
}

.menu-bar .page-tag {
    color: #000000;
    font-size: 12px;
}

.menu-bar .page-tag.active {
    color: #E83F3C;
}

.menu-bar .nav-link.active * {
    background-color: #E83F3C;   
}