@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-black.woff);
    font-weight: 900;
	font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-bold.woff);
    font-weight: 700;
	font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-regular.woff);
    font-weight: 400;
	font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-light.woff);
    font-weight: 100;
	font-display: swap;
}


*{
   margin:0 auto;
   padding:0; 
}

